/** Configured For Applets **/

configuration {
  modi: "window,drun,ssh,combi";
  show-icons:         true;
  location: 0;
  yoffset: -50;
  xoffset: -20;
  combi-modi: "window,drun,ssh";
}
@import "/usr/share/rofi/themes/DarkBlue.rasi"
